model\modelEFNB3-epoch-041-accuracy-0.994595-val-acc-0.953846.h5
model\tf2x
.vscode
concept/PetImages/
concept/kagglecatsanddogs_3367a.zip
concept\WebScraping_Pebrassos_img.ipynb
concept\WebScraping_img.py
concept\chromedriver.exe
concept\kagglecatsanddogs_3367a.zip
concept\.ipynb_checkpoints